---
import { AccordionComisiones } from '@/components/sections/AccordionComisiones'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Comisiones Técnicas | AIME"
  description="Grupos de trabajo especializados que promueven el desarrollo profesional, la investigación y las buenas prácticas en diferentes áreas de la ingeniería de minas."
>
  <main class="container mx-auto py-12">
    <div class="mb-6 flex items-center justify-center space-x-2">
      <div class="h-1 w-10 bg-primary"></div>
      <span
        class="text-sm font-medium uppercase tracking-wider text-muted-foreground"
        >Áreas Especializadas</span
      >
      <div class="h-1 w-10 bg-primary"></div>
    </div>
    <h1 class="mb-8 text-center text-4xl font-bold">Comisiones Técnicas</h1>

    <div class="mx-auto mb-12 max-w-3xl text-center">
      <p class="text-center text-lg">
        Las Comisiones Técnicas de AIME son grupos de trabajo especializados que
        promueven el desarrollo profesional, la investigación y las buenas
        prácticas en diferentes áreas de la ingeniería de minas.
      </p>
    </div>

    <AccordionComisiones client:visible />
  </main>
</Layout>
