---
import { FacebookGallery } from '@/components/sections/FacebookGallery'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Galería | AIME"
  description="Explora nuestra galería de imágenes y videos que reflejan el trabajo y compromiso de AIME en el desarrollo del sector minero en Ecuador."
>
  <section class="bg-muted py-16">
    <div class="container">
      <div class="mb-12 flex flex-col justify-between md:flex-row md:items-end">
        <div>
          <div class="mb-2 flex items-center space-x-2">
            <div class="h-1 w-10 bg-primary"></div>
            <span
              class="text-sm font-medium uppercase tracking-wider text-muted-foreground"
            >
              Imágenes
            </span>
          </div>
          <h2
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
          >
            Nuestra Galería
          </h2>
          <p class="mt-4 max-w-3xl text-muted-foreground">
            Explora momentos destacados de nuestras actividades, eventos y
            proyectos mineros.
          </p>
        </div>
      </div>

      <FacebookGallery client:visible />
    </div>
  </section>
</Layout>
