---
import Layout from '../layouts/Layout.astro';

---

<Layout title="PINU | AIME Ecuador">
  <div class="container py-12">
    <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl">PINU</h1>
    <p class="mt-4 text-muted-foreground">
      Programa de Integración Nacional Universitaria.
    </p>
  </div>
</Layout>